body {
    background-color: #B6E5D8;
}

body .title {
    text-align: center;
}

h1 {
    text-align: center;
}

.form>* {
    flex: 1 1 50px;
}

div {
    width: 300px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    margin-left: 1200px;
    padding: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    width: 50%
}


body .form {

    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 300px;
    background-color: #FAE8E0;
    border-style: double;
    width: 400px;
    margin-left: 43%;


}

body .link {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

h4 {
    margin: 30px;

}