.form {
    background-color: blue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

.form>* {
    flex: 1 1 50px;
}

div {
    width: 300px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    margin-left: 1200px;
    padding: 20px;
}